<style type="text/css">
#notice{
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	background: #FFFAF0;
	border: 1px solid #FFD700;
}
#themes{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
#themes li{
	float: left;
	padding: 10px;
}
#themes li h4{
	margin: 0 0 5px 0;
}
#themes li.current{
	background: yellow;
}
</style>
<div id="main_wp" class="mt10">
<table cellspacing="1" width="100%" align="center" class="tableborder tl">
	<tr class="header">
		<td>单击某主题图片，选择你需要的主题</td>
	</tr>
	<tr><td>{$webmihtml}</td></tr>
</table>
</div>